<% @favourites.each do |l| %>
<% @link = HelpfulLink.where(id: l.helpful_link_id).first %>



<%# @links.limit(30).order('created_at DESC').each do |l| %>

	<div class="well">
		<div class="row">
			<div class="col-md-10">
				<h4><%= link_to @link.name, @link.link %> <%= link_to "", edit_user_helpful_link_path(@link.user_id, @link.id), class: "fa fa-edit" unless @link.user_id != current_user.id %></h4>
			</div>
			<div class="col-md-2">
				<div class="favourite-link-form">
					<% if Favourite.where(helpful_link_id: @link.id).first.blank? %>
						<%= form_for [@user, @fav], remote: true do |f| %>
							<%= f.hidden_field :user_id, value: current_user.id %>
							<%= f.hidden_field :helpful_link_id, value: @link.id %>
							<button type='submit' class="favourite">
								<i class="fa fa-star favourite"></i>
							</button>
						<% end %>
					<% else %>
						<i class="fa fa-star favourited"></i>
					<% end %>
				</div>
			</div>
			<div class="col-md-12">
				<p><%= @link.description %></p>
				<p id="submitted">Submitted <% if User.where(id: @link.user_id).first %>by<%end%> <em><%= link_to User.where(id: @link.user_id).first.username, "", :data => {toggle: "modal", target: "#userModel#{@link.user_id}"}, id: "username" unless User.where(id: @link.user_id).first.blank? %></em> <%= time_ago_in_words(@link.created_at) %> ago.</p>
				<% if @link.paid == true %>
					<div class="label label-warning">
						<i class="fa fa-gbp"> Paid Resource</i>
					</div>
				<% else %>
					<div class="label label-success">
						<i class="fa fa-gbp"> Free Resource</i>
					</div>
				<% end %>
			</div>
		</div>
	</div>


	<% unless User.where(id: @link.user_id).blank? %>
		<!-- Show User -->
		<%= render 'shared/user_modal', locals: { user: User.find(@link.user_id) } %>
	<% end %>



<% end %>