

<div class="dashboard-wrapper">

	<section>
		<%#= image_tag current_user.avatar %>
		<h1>Hey <%= current_user.username %></h1>
		<hr class="white">
	</section>
	<section>
		<div class="link-wrapper">	
			<h3>Latest Resources</h3>
			<% @links.order('created_at DESC').each do |l| %>
				<div class="well">
					<h4><%= link_to l.name, l.link %></h4>
					<p><%= l.description %></p>
					<p id="submitted">Submitted by <em><%= link_to User.where(id: l.user_id).first.username, "", :data => {toggle: "modal", target: "#userModal"} unless User.where(id: l.user_id).first.blank? %></em> <%= time_ago_in_words(l.created_at) %> ago.</p>
				</div>
			<% end %>
		</div>
	</section>

</div>

<%= render 'shared/link_modal' %>
<%= render 'shared/user_modal' %>

<!-- TEST ------------------------------>

<a data-toggle="modal" data-id="ISBN564541" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#addBookDialog">test1</a>

<a data-toggle="modal" data-id="ISBN-001122" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#addBookDialog">test2</a>

<!-- Modal -->
<div class="modal fade" id="addBookDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">User</h3>
        <p class="muted"><em>Adding a resource is a great way to help out the communtiy! Thanks!</em></p>
      </div>
      <div class="modal-body">
        <input type="text" name="bookId" id="bookId" value=""/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- TEST ------------------------------>
