

<div class="dashboard-wrapper">

	<section>
		<%#= image_tag current_user.avatar %>
		<h1>Hey <%= current_user.username %></h1>
		<hr class="white">
	</section>
	<section>
		<div class="link-wrapper">	
			<h3>All Resources</h3>
			<% @links.order('created_at DESC').each do |l| %>
				<div class="well">
					<h4><%= link_to l.name, l.link %></h4>
					<p><%= l.description %></p>
					<p id="submitted">Submitted by <em><%= link_to User.find(l.user_id).username, "", :data => {toggle: "modal", target: "#userModal"}  %></em> <%= time_ago_in_words(l.created_at) %> ago.</p>
				</div>
			<% end %>
		</div>
		<hr>
		<div class="link-wrapper">	
			<h3>Your Resources</h3>
			<% current_user.helpful_links.order('created_at DESC').each do |l| %>
				<div class="well">
					<h4><%= link_to l.name, l.link %></h4>
					<p><%= l.description %></p>
					<p id="submitted">Submitted by <em><%= link_to User.find(l.user_id).username, "", :data => {toggle: "modal", target: "#userModal"}  %></em> <%= time_ago_in_words(l.created_at) %> ago.</p>
				</div>
			<% end %>
		</div>
	</section>

</div>

<%= render 'shared/link_modal' %>
<%= render 'shared/user_modal' %>

