<%= render 'shared/global_meta_tags' %>

<div class="dashboard-wrapper">

	<section>
		<%#= image_tag current_user.avatar %>
		<h1>Hey <%= current_user.username %></h1>
		<% if current_user.favourites.count > 0 %>
			<!-- <i class="fa fa-star"></i> <%#= link_to "#{current_user.favourites.count} Favourites", user_favourites_path(current_user) %> -->
		<% end %>
		<hr class="white">
	</section>
	<section>
		<div class="">
			<h3><i class="fa fa-th"></i> Top Collections <%= link_to "View all", collections_path, class: "new_link" %></h3>
			<div class="collection-wrapper">
				<%= render 'collections/collection_list' %>
			</div>
		</div>
	</section>
	<section>
		<div class="link-wrapper">
			<h3><i class="fa fa-list"></i> Latest Resources <%= link_to "+ New", "", class: "new_link", :data => {toggle: "modal", target: "#linkModal"} %></h3>
				<%= render partial: 'helpful_links/latest_resources'%>
		</div>
	</section>

</div>
 
<!-- Link Modal -->
<% if signed_in? %>
	<%= render 'shared/helpful_link_modal' %>
<% end %>