<%= render 'shared/global_meta_tags' %>

<div class="dashboard-wrapper">

	<section>
		<%#= image_tag current_user.avatar %>
		<h1>Hey <%= current_user.username %></h1>
		<% if current_user.favourites.count > 0 %>
			<i class="fa fa-star"></i> <%= link_to current_user.favourites.count, user_favourites_path(current_user) %>
		<% end %>
		<hr class="white">
	</section>
	<section>
		<div class="link-wrapper">	
			<h3><i class="fa fa-external-link"></i> Latest Resources <%= link_to "+ New", "", class: "new_resource", :data => {toggle: "modal", target: "#linkModal"} %></h3>
			
				<%= render partial: 'helpful_links/latest_resources'%>
		</div>
	</section>

</div>


