<%= render 'shared/global_meta_tags' %>

<div class="dashboard-wrapper">

	<section>
		<%#= image_tag current_user.avatar %>
		<h1>Hey <%= current_user.username %></h1>
		<hr class="white">
	</section>
	<section>
		<div class="link-wrapper">	
			<h3><i class="fa fa-external-link"></i> Latest Resources</h3>

			<% @links.order('created_at DESC').each do |l| %>

				<div class="well">
					<h4><%= link_to l.name, l.link %></h4>
					<p><%= l.description %></p>
					<p id="submitted">Submitted <% if User.where(id: l.user_id).first %>by<%end%> <em><%= link_to User.where(id: l.user_id).first.username, "", :data => {toggle: "modal", target: "#userModel#{l.user_id}"}, id: "username" unless User.where(id: l.user_id).first.blank? %></em> <%= time_ago_in_words(l.created_at) %> ago.</p>
				</div>

				<% unless User.where(id: l.user_id).blank? %>
					<%= render 'shared/user_modal', locals: { user: User.find(l.user_id) } %>
				<% end %>

			<% end %>
		</div>
	</section>

</div>


