<div class="helpful-links-form">
	<%= form_for [@user, @link] do |f| %>
		<div class="field">
			<%= f.label :name %><br>
			<%= f.text_field :name, placeholder: "Name" %>
		</div>
		<div class="field">
			<%= f.label :description %><br>
			<%= f.text_field :description, placeholder: "Short Description" %>
		</div>
		<div class="field">
			<%= f.label :link, "Link URL" %><br>
			<%= f.text_field :link, placeholder: "Include http://" %>
		</div>
		<div class="field">
			<%= f.label :paid, "Do you need to pay to use this service?" %>
			<%= f.check_box :paid %>
		</div>
		<div id="link_submit">
			<%= f.submit 'Add Resource', class: 'btn btn-CB' %>
		</div>
	<% end %>
</div>