<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <div class="site-info-wrapper">
            <div class="site-info">
                <div id="alert">
                    <% if notice %>
                      <p class="alert alert-success"><%= notice %></p>
                    <% end %>
                    <% if alert %>
                      <p class="alert alert-danger"><%= alert %></p>
                    <% end %>
                </div>
                <div id="logo">
                    <%= link_to image_tag('logo/logo.png', class: "main-logo"), root_url %>
                </div>
                <div id="content">
                    <h1>Code And Beers</h1>
                    <p>A community of individuals teaching themselves how to code...together</p>
                    <hr class="grey">
                </div>
                <div id="social">
                    <%= link_to "", "https://twitter.com/codeandbeers_", class: "fa fa-twitter" %>
                    <%= link_to "", root_url, class: "fa fa-envelope" %>
                </div>
            </div>
        </div>
        <% if signed_in? %>
            <div class="site-actions">
                <div class="col-xs-4 action" data-toggle="tooltip" data-placement="top" title="Slack Community">
                    <%= link_to "", "http://codeandbeers.slack.com", class: "btn btn-actn fa fa-slack action-icon", target: "blank" %>
                </div>
                <div class="col-xs-4 action" data-toggle="tooltip" data-placement="top" title="Events">
                    <%= link_to "", events_path, class: "btn btn-actn fa fa-calendar action-icon" %>
                </div>
                <div class="col-xs-4 action end" data-toggle="tooltip" data-placement="top" title="Add Resource">
                    <%= link_to "", "", class: "btn btn-actn fa fa-plus action-icon", :data => {toggle: "modal", target: "#linkModal"} %>
                </div>
            </div>
        <% end %>

        <div class="site-navbar">
            <!-- <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li> -->
            <li>
                <%= link_to "Home", root_url, :class => 'navbar-link'  %>
            </li>
            <li>
                <%= link_to "About", "/about", :class => 'navbar-link'  %>
            </li>
             <li>
                <%= link_to "Blog", "http://blog.codeandbeers.com", :class => 'navbar-link'  %>
            </li>
            <li>
                <%= link_to "Contact", root_url, :class => 'navbar-link'  %>
            </li>
        </div>
    </ul>
    
</div>
<!-- /#sidebar-wrapper -->
